.pooop{
    margin-top: 8px;
    padding: 6px 0 !important;
}
.newAvtar{
    width: 45px;
    height: 45px;
}
.logo_imgg{
    width: 108px !important;
    height: 69px !important;
}
.rui-navbar-brand{
    justify-content: center !important;
}
.navBarNew{
    margin-top: -7px;
    align-items: center;
}
.belllNew{
    width: 24px !important;
    min-width: 24px !important;
    height: 24px !important;
    stroke-width: 3px !important;
}
.propertyNameData{
    margin-bottom: 0px !important;
    margin-top: -3px !important;
    font-size: 22px;
    font-weight: 600;
}

.container-fluid{
    align-self: center;
}