.rui-section-lines .rui-page-title{
    border-bottom: none;
}
.backGroundColorNew{
    background-color: #e8f1fd;
    padding: 16px 16px;
}
.contentStart{
    background-color: #fff;
    border-radius: 5px;
}
html.rui-night-mode .backGroundColorNew{
    background-color: transparent;
}
html.rui-night-mode .contentStart{
    background-color: transparent;
}
html.rui-night-mode .nav-tabs .nav-link.active{
    background-color: transparent !important;
}
.btn{
    font-weight: 400;
    text-transform: capitalize;
}
.PageTitle{
    padding: 10px 15px !important;
}
.PageTitle h1{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.textAlignEnd{
    text-align: end;
}
.noDataMessage{
    text-align: center;
    padding: 15px;
    color: #a4a3a3;
    width: 100%;
}
.modelWidth{
    max-width: 800px;
}
.labelforall{
    margin-bottom: 0px;
}
.headingNew{
    margin-bottom: 10px;
    font-size: 14px;
}

.table th, .table td{
    padding: 10px 25px !important;
    vertical-align: middle !important;
}
.borderTopNone{
    border-top: none !important;
}
.displayInline{
    display: inline-flex;
}
.displayInline svg{
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
  stroke-width: 2;
  cursor: pointer;
  margin-right: 12px;
}
.test_collapse{

    animation: fadein 1.00s;
      -moz-animation: fadein 1.00s;
      -webkit-animation: fadein 1.00s;
      -o-animation: fadein 1.00s;
  }

  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }

  .spinnerCss{
    justify-content: center;
      position: absolute;
      width: 50px;
      height:50px;
      margin-left:40%;
      font-size: 14px;
  }

  html.rui-night-mode .contact_sort div {
    background-color: #292f38;
    border-color: #3c424c;
    color: #a0aebb!important;
}

.showPropertNewData{
    padding: 10px 20px;
}
.firstRoom{
    box-shadow: 10px 10px 5px #f0eded;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #efeded;
}


.resortImgForAllDetailsNew .resortImg img{
    width: -webkit-fill-available !important;
    border-radius: 5px;
}
.resortContainerRooms{
    padding-top: 10px;
    padding-bottom: 10px;
}
.resortDetaits{
    padding-right: 10px
}
.resortName h2{
    font-weight: 500 !important;
    font-size: 20px !important;
    margin-bottom: 6px !important;
}
.resortAddress p{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #667085;
}
.resortdiscription p{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #4F4F4F;
}
.showicon{
    display: inline;
}
.showicon img{
    margin-top: -2px;
    width: 22px;
    height: 16px;
}
.showicon span{
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
}
.groupPeople{
    margin-top: 16px;
}
.groupPeople .col-lg-3{
    margin-bottom: 10px
}

.mycalendar{
    overflow-x: hidden ;
    overflow-y: scroll;
  }

 html.rui-night-mode .resortdiscription p{
      color: #a9b1bb !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    background-color:#ffffff !important;
  }
  .mycalendar::-webkit-scrollbar-track
  {
    border-radius: 1px;
    background-color: #ffffff !important;
  }

  
html.rui-night-mode .mycalendar::-webkit-scrollbar {
    width: 1px;
    background-color: #292f38 !important;
}
html.rui-night-mode .mycalendar::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #292f38 !important;
}
html.rui-night-mode .mycalendar::-webkit-scrollbar-track
{
    border-radius: 1px;
    background-color: #292f38 !important;
} 

  .showButtonNew{
    display: inline-flex;
    width: 100%;
    justify-content: end;
    padding-right: 20px;
  }
  .viewDeatils{
    align-self: center;
    margin-right: 16px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
  }

  .showSubImg {
    display: inline-flex;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    flex-wrap: wrap;

  }
  .showSubImg div{
      margin-right: 10px;
      cursor: pointer;
  }
  .showSubImg img{
    width: 90px !important;
    height: 80px;
    // margin-right: 14px;
  }

  .headingnewpro{
    font-size: 14px;
    font-weight: 500;
  }
  .deatilsData{
    font-size: 14px;
    color: #858D9D;
    font-weight: 400;
    margin-top: -6px;
  }
  .uploadPropertImage button{
      width: 100%;
      font-weight: 500;
      font-size: 12px;
      justify-content: center;
  }
  .amnewdata img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .amnewdata span{
    font-size: 12px;
    font-weight: 500;
    color: #858D9D;
  }

  .roomitem img{
      width: -webkit-fill-available;
      border-radius: 5px;
  }
  .paddingNew{
      padding: 12px;
  }
  .headingNewwwRoomSub{
    font-size: 18px;
    margin-bottom: -6px;
    font-weight: 500;
  }
  .subHeadingNewSub{
    font-size: 12px;
    font-weight: 500;
    color: #858D9D;
  }
  .textAlign{
      text-align: end;
  }
  .height_div{
    height: 36px
  }
.maintanice_switch{
  margin-right: 14px
}
